*{
    margin: 0;
    padding: 0;

}

body{
    font-family: 'Gabarito', sans-serif;
    background-color: #f5f5f5;
}

.navbar{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #000000;
    gap: 10px;
    align-items: center;
}

.navbar__title{
    color: #A73BF0;
}

.navbar__s2{
    padding: 10px;
    border: #000000 1px solid;
    border-radius: 30px;
    width: 60%;
    display: flex;
    gap: 10px;
    align-items: center;

}

.navbar__s2 input{
    border: none;
    width: 100%;
    font-size: 16px;
}

.navbar__s2 input:focus{
    outline: none;
}

.navbar__s3{
    display: flex;
    gap: 20px;
    align-items: center;
}

.categories{
    display: flex;
    padding: 10px;
    border-bottom: #000000 1px solid;
    justify-content: space-around;

}
.categories p{
    background-color: #A73BF0;
    color: white;
    padding: 10px;
    border-radius: 30px;
}

.sale-image img{
    width: 100%;
}

.recommended{
    padding: 10px;;
}

.recommended__container{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
    margin-top: 10px;

}

.course-card{
    width: 330px;
   
}

.course-card img{
    width: 100%;
    height: 60%;

}

.topics{
    padding: 10px;
}

.topics__container{
    display: flex;
    gap: 10px;
    margin-top: 10px;
    flex-wrap: wrap;
}

.topics__container p{
    border: solid grey 2px;
    padding: 10px;
    flex-grow: 1;
    flex-basis: 25%;
    
}

.popular__container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 10px;
}

.footer{
    padding: 30px;
    background-color: black;
    color: white;
}

.footer__one{
    display: flex;
    gap: 20px;

}

.footer__one p{
    margin: 20px 0;
}

.footer__two{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-top: #000000 1px solid;
    margin: 20px 0;
    align-items: center;
}